<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRWXD2dx8llBpwxlulHntURgnwf0cE-jU</string>
	<key>GCM_SENDER_ID</key>
	<string>656354073125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lafetch.customer</string>
	<key>PROJECT_ID</key>
	<string>la-fetch-3b250</string>
	<key>STORAGE_BUCKET</key>
	<string>la-fetch-3b250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656354073125:ios:e54832590be91deb86fdcc</string>
</dict>
</plist>